<!DOCTYPE html>
<html>
<head>
  <title>Access</title>
  <%= stylesheet_link_tag    "access/application", :media => "all" %>
  <%= javascript_include_tag "access/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
